
<div class="my-contence-three">
    <div class="container">
        <div class="col-sm-9 my-con-one">
            <h2>明月坊建站平台<strong>定制任何设计风格</strong></h2>
            <p>这里有一些选项，你可以选择定制</p>
        </div>
        <div class="col-sm-3 my-con-two">
            <button ng-click="contactpage()" class="btn btn-lg btn-success hidden-xs my-xs-hidden-bnt">现在购买！</button>
            <button ng-click="contactpage()" class="btn btn-lg btn-success visible-xs my-xs-show-bnt center-block">现在购买！</button>
        </div>
    </div>
</div>