
<div class="my-contence-three">
    <div class="container">
        <div class="col-sm-9 my-con-one">
            <h2>你下一步所需要的一切<strong>网站</strong></h2>
            <p>这里有更多的理由去选择明月坊</p>
        </div>
        <div class="col-sm-3 my-con-two">
            <button ng-click="contactpage()" class="btn btn-lg btn-success hidden-xs my-xs-hidden-bnt">现在购买！</button>
            <button ng-click="contactpage()" class="btn btn-lg btn-success visible-xs my-xs-show-bnt center-block">现在购买！</button>
        </div>
    </div>
</div>